<head>
    <%- include("../partial/head.ejs") %>
</head>

<body>
    <%- include("../partial/navbar.ejs") %>
        <div class="container-fluid sub_section pt-4 pb-4">
            <div class="section_header text-center mb-4 mt- 3" ">
            <h1 style="color:red; "> Prevention Against CoronaVirus </h1>
        </div>
     <div class="container ">
         <div class="row ">
             <div class="col-lg-4 col-md-4 col-12 mt-4 ">
                 <div class="row ">
                     <div class="col-lg-4 col-md-4 col-12 ">
                         <figure >
                             <img src="/image/mask1.png "   width="120 " height="100 " >
                         </figure>
                         
                     </div>
    
                     <div class="col-lg-8 col-md-8 col-12 ">
                         <p>Wear a mask in public, especially indoors or when physical distancing is not possible.</p>
                     </div>
                 </div>
             </div>
             <div class="col-lg-4 col-md-4 col-12 mt-4 ">
                <div class="row ">
                    <div class="col-lg-4 col-md-4 col-12 ">
                        <figure >
                            <img src="/image/homestay.jpg "   width="120 " height="100 " >
                        </figure>
                        
                    </div>
    
                    <div class="col-lg-8 col-md-8 col-12 ">
                        <p>Stay home and self-isolate from others in the household if you feel unwell.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 mt-4 ">
                <div class="row ">
                    <div class="col-lg-4 col-md-4 col-12 ">
                        <figure >
                            <img src="/image/news.jpg "   width="120 " height="100 " >
                        </figure>
                        
                    </div>
    
                    <div class="col-lg-8 col-md-8 col-12 ">
                        <p>Stay informed by watching news and follow the recommended practices.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 mt-4 ">
                <div class="row ">
                    <div class="col-lg-4 col-md-4 col-12 ">
                        <figure >
                            <img src="/image/wash.jpg "   width="120 " height="100 " >
                        </figure>
                        
                    </div>
    
                    <div class="col-lg-8 col-md-8 col-12 ">
                        <p>Clean your hands often. Use soap and water, or an alcohol-based hand rub.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 mt-4 ">
                <div class="row ">
                    <div class="col-lg-4 col-md-4 col-12 ">
                        <figure >
                            <img src="/image/calling.jpg "   width="120 " height="100 " >
                        </figure>
                        
                    </div>
    
                    <div class="col-lg-8 col-md-8 col-12 ">
                        <p>If you have a fever, cough and difficulty breathing, seek medical attention. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 mt-4 ">
                <div class="row ">
                    <div class="col-lg-4 col-md-4 col-12 ">
                        <figure >
                            <img src="/image/social.jpg "   width="120 " height="100 " >
                        </figure>
                        
                    </div>
    
                    <div class="col-lg-8 col-md-8 col-12 ">
                        <p>Maintain a safe distance from others (at least 1 metre), even if they don't appear to be sick</p>
                    </div>
                </div>
            </div>
         </div>
     </div>
    
    </div>
    <%- include('../partial/footer.ejs') %>
    
    <script>
        function loadGoogleTranlate() {
            new google.translate.TranslateElement('google_element')
        } 
     </script>
    
</body>