<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="index.html">
            <span class="align-middle">CoVaccine</span>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Pages
            </li>

            <li class="sidebar-item ">
                <a class="sidebar-link" href="/admin/">
                    <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/viewuser">
                    <i class="align-middle" data-feather="user"></i> <span class="align-middle">View User</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/addplaces">
                    <i class="align-middle" data-feather="log-in"></i> <span class="align-middle">Add Places</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/viewplaces">
                    <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">View Places</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/bookingDetails">
                    <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">Booked User details</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/newsportal">
                    <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">News Portal</span>
                </a>
            </li>




        </ul>
    </div>
</nav>