<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/user/footer.css">
    <title>Go Corona Go</title>
</head>

<body>

    <footer class="footer mt-5 ">
        <div class="container container1">
            <div class="footer-col ">
                <h4>Explore</h4>
                <ul>
                    <li><a href="# ">Home</a></li>
                    <li><a href="/user/News">News</a></li>
                    <li><a href="/user/AboutVaccine">About Us</a></li>
                </ul>
            </div>
            <div class="footer-col ">
                <h4>Legal</h4>
                <ul>
                    <li><a href="/user/Symptoms">Symptoms</a></li>
                    <li><a href="/user/Prevention">Prevention</a></li>
                    


                </ul>
            </div>
            <div class="footer-col ">
                <h4>Resources</h4>
                <ul>
                    <li>
                        <a href="# ">Provider Resources</a>
                    </li>
                    <li>
                        <a href="# ">COVID-19 Vaccine Provider Data</a>
                    </li>

                </ul>
            </div>
            <div class="footer-col ">
                <h4>Follow us</h4>
                <div class="social-links ">
                    <a href="https://facebook.com " target="blank "><i class="fab fa-facebook-f "></i></a>
                    <a href="https://twitter.com " target="blank "><i class="fab fa-twitter "></i></a>
                    <a href="https://instagram.com " target="blank "><i class="fab fa-instagram "></i></a>
                    <a href="https://linkedin-in.com " target="blank "><i class="fab fa-linkedin-in "></i></a>
                </div>
            </div>


        </div>

        <div class="outer-footer ">
            &copy;copyright &copy;2023 CoVaccine. All Rights Reserved
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js " integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js " integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF " crossorigin="anonymous "></script>

</body>

</html>