<!-- <div class="row" style=" width: 100%; ">
    <div id="google_element" class=" d-flex justify-content-end">Select Your Language: </div>
</div> -->
<nav class="navbar navbar-expand-lg nav_style p-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/image/logofyp.png" alt="" width="210" height="82">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/News">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/AboutVaccine">About Vaccine</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/user/Symptoms">Symptoms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/Prevention">Prevention</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">FAQ</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/user/VaccinatingCenters">Vaccinating Centers</a>
                </li> -->


                <li class="nav-item">
                    <a class="nav-link" href="/user/welcomeregister">Book the Vaccine</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/user/covidpatient">Patient nearby</a>
                </li> -->
        </div>
    </div>
</nav>